.godot/
.godotlauncher

export_presets.cfg

*.translation

/builds/
/exports/
/export/
/bin/

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
desktop.ini

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

*~
.directory
.Trash-*
.nfs*

*.swp
*.swo

.vscode/
*.code-workspace

.idea/
*.iml
*.iws

.vs/
*.sln
*.csproj
*.user
