* text=auto eol=lf

*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.import text eol=lf
*.project text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg binary

*.wav binary
*.ogg binary
*.mp3 binary

*.ttf binary
*.otf binary

addons/** linguist-vendored
